*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body{
	background: #edeef0;
}
.container{
	background: #fff;
	width: 90%;
	height: 400px;
	margin: 30px auto;
	padding: 20px;
	border-radius: 5px;
	display: flex;
	justify-content:space-around;
	flex-direction: row;
}

.container .nav{
	width: 30%;
	border: solid red;
}

.container .sections{
	width: 65%;
	border: solid red;
}